@import '../../variables';
.projects-container {
    // background: rgba(226, 51, 226, 0.733);
    background: $main;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    transition: 1s ease;
    @include flexCenter(column);
    .projects-title-watchon {
        color: $accent;
        font-size: 4rem;
        font-weight: 500;
        margin: 20px;
        text-shadow: 1px 1px rgba(128, 128, 128, 0.534);
    }
    .watch-on {
        max-height: 500px;
        border-radius: 20px;
        &:hover {
            cursor: pointer;
        }
    }
}