@import '../../variables';
.projects-container {
    // background: rgba(226, 51, 226, 0.733);
    background: $main;
    height: 100vh;
    padding-top: 90px;
    scroll-snap-align: center;
    @include flexCenter(column);
    .projects-title-watchon {
        color: white;
        font-size: 4rem;
        font-weight: 500;
        margin: 20px;
    }
    .watch-on {
        max-height: 500px;
        border-radius: 20px;
        &:hover {
            cursor: pointer;
        }
    }
}