@import '../../variables';
.about-container {
    @include flexCenter(row);
    transition: 1s ease;
    .head-shot {
        max-height: 400px;
        margin: 5vw;
        border-radius: 10px;
    }
    .bio {
        margin-left: 60px;
        color: $accent;
        font-weight: 500;
        font-size: 1.5rem;
        max-width: 700px;
        text-shadow: 1px 1px rgba(128, 128, 128, 0.534);
    }
    scroll-snap-align: center;
    height: 100vh;
    width: 100vw;
    // background: rgba(56, 170, 56, 0.705);
    background: $main;
}