@import '../../variables';
.about-container {
    @include flexCenter(column);
    transition: 1s ease;
    .bio {
        color: white;
        font-weight: 500;
        font-size: 5rem;
        text-shadow: 1px 1px rgba(128, 128, 128, 0.534);
    }
    scroll-snap-align: center;
    height: 100vh;
    // background: rgba(56, 170, 56, 0.705);
    background: $main;
}