@import '../../variables';
.about-container {
    @include flexCenter(column);
    .bio {
        color: white;
        font-weight: 500;
        font-size: 5rem;
    }
    scroll-snap-align: center;
    padding-top: 80px;
    height: 100vh;
    // background: rgba(56, 170, 56, 0.705);
    background: $main;
}