@import '../../variables';
.home-container {
    @include flexCenter(column);
    background: $secondary;
    scroll-snap-align: center;
    height: 100vh;
    width: 100vw;
    padding-left: 90px;
    .name {
        font-size: 6rem;
        color: $accent;
        margin: 10px;
    }
    .title {
        font-size: 5rem;
        color: $accent;
        margin: 10px;
        text-shadow: 1px 1px rgba(128, 128, 128, 0.534);
    }
}