@import '../../variables';
.contact-container {
    @include flexCenter(column);
    .contact-me {
        color: white;
        font-size: 5rem;
        font-weight: 500;
        text-shadow: 1px 1px rgba(128, 128, 128, 0.534);
    }
    scroll-snap-align: center;
    height: 100vh;
    // background: rgba(240, 56, 56, 0.74);
    background: $secondary;
}