$main: rgba(0, 0, 0, 0.575);
$secondary: rgba(85, 84, 84, 0.63);
$accent: pink;
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

;