// $main: rgba(150, 149, 149, 0.575);
// $secondary: rgba(85, 84, 84, 0.63);
$main: rgba(182, 181, 181, 0.658);
$secondary: rgba(129, 120, 145, 0.63);
$accent: pink;
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

;