@import "./components/Nav/_nav.scss";
@import "./components/Home/_home.scss";
@import "./components/About/_about.scss";
@import "./components/Skills/_skills.scss";
@import "./components/Projects/_projects.scss";
@import "./components/Contact/_contact.scss";
@import "./variables";
* {
    // box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.App {
    position: relative;
    text-align: center;
    display: flex;
    overflow-x: hidden;
}

.dashboard::-webkit-scrollbar {
    width: 10px;
    background: lightgrey;
    height: 50px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #000000;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: white;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(102, 101, 101);
}