@import '../../variables';
.nav-container {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 75px;
    background: grey;
    color: white;
    padding-right: 50px;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}