@import '../../variables';
.nav-container {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 75px;
    background: grey;
    color: white;
    a {
        text-decoration: none;
        color: white;
        margin-left: 10px;
    }
    ;
    .contact {
        margin-right: 50px
    }
}